[run]
omit = rich/jupyter.py
    rich/_windows.py
    rich/_timer.py
    rich/diagnose.py

[report]
exclude_lines =
    pragma: no cover
    if TYPE_CHECKING:
    if __name__ == "__main__":
    @overload
