name: issues
on:
  issues:
    types: [closed]
jobs:
  add-comment:
    runs-on: ubuntu-latest
    permissions:
      issues: write
    steps:
      - name: Did I solve your problem?
        uses: peter-evans/create-or-update-comment@a35cf36e5301d70b76f316e867e7788a55a31dae
        with:
          issue-number: ${{ github.event.issue.number }}
          body: |
            Did I solve your problem? 

            Consider [sponsoring](https://github.com/sponsors/willmcgugan) the ongoing work on Rich and Textual.

            Or buy me a [coffee](https://ko-fi.com/willmcgugan) to say thanks.

            &ndash; [Will McGugan](https://twitter.com/willmcgugan)

            
      
